<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<typeAliases>
		<typeAlias type="com.member.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.member.dto.MemberStatusDto" alias="memberStatusDto"/>
		<typeAlias type="com.member.dto.MemberRankDto" alias="memberRankDto"/>
		<typeAlias type="com.board.report.dto.ReportDto" alias="reportDto"/>
		<typeAlias type="com.amount.dto.WithdrawalDto" alias="withdrawalDto"/>
		<typeAlias type="com.auction.dto.AuctionDto" alias="auctionDto"/>
		<typeAlias type="com.auction.dto.AuctionStatusDto" alias="auctionStatusDto"/>
		<typeAlias type="com.auction.dto.AuctionTypeDto" alias="auctionTypeDto"/>
		<typeAlias type="com.util.LocalDateTimeTypeHandler" alias="LocalDateTimeTypeHandler"/>
		<typeAlias type="com.util.StringTimeTypeHandler" alias="StringTimeTypeHandler"/>
		<typeAlias type="com.util.IntegerTimeTypeHandler" alias="IntegerTimeTypeHandler"/>
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="com.util.LocalDateTimeTypeHandler"/>
	</typeHandlers>
	
	<!-- mapper -->
	<mappers>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/admin-mapper.xml"/>
		<mapper resource="/mybatis/mypage-mapper.xml"/>
		<mapper resource="/mybatis/report-mapper.xml"/>
		<mapper resource="/mybatis/amount-mapper.xml"/>
		<mapper resource="/mybatis/auction-mapper.xml"/>
	</mappers>
	


</configuration>