<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.member.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.member.dto.MemberStatusDto" alias="memberStatusDto"/>
		<typeAlias type="com.board.report.dto.ReportDto" alias="reportDto"/>
		<typeAlias type="com.amount.dto.WithdrawalDto" alias="withdrawalDto"/>
	</typeAliases>
	
	<!-- mapper -->
	<mappers>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/admin-mapper.xml"/>
		<mapper resource="/mybatis/mypage-mapper.xml"/>
		<mapper resource="/mybatis/report-mapper.xml"/>
		<mapper resource="/mybatis/amount-mapper.xml"/>
	</mappers>
	

</configuration>