<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="amount">
	
	<select id="withdrawallist" parameterType="HashMap" resultType="withdrawalDto">
		<![CDATA[ 
		SELECT WITHDRAWAL_NO, ACCOUNT_NO, NICKNAME, AMOUNT, WITHDRAWAL_STATUS, CREATED_AT, UPDATED_AT
		FROM(
		    SELECT ROWNUM AS RNUM, WITHDRAWAL_NO, ACCOUNT_NO, NICKNAME, AMOUNT, WITHDRAWAL_STATUS, CREATED_AT, UPDATED_AT
		    FROM(
		        SELECT WITHDRAWAL_NO, ACCOUNT_NO, NICKNAME, AMOUNT, WITHDRAWAL_STATUS, CREATED_AT, UPDATED_AT
		        FROM WITHDRAWAL WHERE WITHDRAWAL_STATUS = '${status}'  ORDER BY CREATED_AT DESC)
		    WHERE ROWNUM < #{endRow})
		WHERE RNUM>=#{startRow}
		]]>
	</select>
	
	<select id="withdrawalcount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM WITHDRAWAL WHERE WITHDRAWAL_STATUS = '${status}'
	</select>
	
	<update id="withprocessing" parameterType="HashMap">
		UPDATE WITHDRAWAL SET WITHDRAWAL_STATUS=#{status} WHERE WITHDRAWAL_NO=#{with_no}
	</update>
	
	<select id="getBankNo" parameterType="String" resultType="String">
		SELECT BANK_NO
		FROM BANK_CODE
		WHERE BANK_NAME=trim(#{bankName})
	</select>
	
	<select id="getAccountNo" parameterType="String" resultType="bankAccountDto">
		SELECT ACCOUNT_NO,ACCOUNT_NUMBER,BANK_NO
		FROM ACCOUNT
		WHERE NICKNAME=#{nickname}
	</select>
	
	<insert id="insertWithdrawal" parameterType="HashMap">
		 INSERT INTO WITHDRAWAL
		 VALUES(
		 	WITHDRAWAL_SEQ.NEXTVAL,#{account_no},#{nickname},#{withdrawal_amount},'대기'
		 )		 
	
	</insert>
	
	<!-- 단일 조회 -->
	<select id="withOne" parameterType="HashMap" resultType="withdrawalDto">
		SELECT WITHDRAWAL_NO, ACCOUNT_NO, NICKNAME, AMOUNT, WITHDRAWAL_STATUS, CREATED_AT, UPDATED_AT
		FROM WITHDRAWAL
		WHERE WITHDRAWAL_NO=#{with_no}
	</select>
	
	
</mapper>
 