<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="main.com.basic.dao.MessageMapper">
    <select id="countMessageView" resultType="String">
        SELECT * FROM TB_MESSAGE WHERE RECEIVER_NAME= #{receiver_name} AND GUBUN = 0
    </select>
        
</mapper>